VITE_APPID=123456789/123456789
VITE_ROOM_UUID=bc092e60a60d11f1ac52492b04ea8e20
VITE_ROOM_TOKEN=NETLESSROOM_YWs9VWtNUk92M1JIN2I2Z284dCZleHBpcmVBdD0xNzg4MzU3NzM0Njc2Jm5vbmNlPWJjMjg5ZDQwLWE2MGQtMTFmMS1iYzM4LWQ3Yjg5YzgwZTNlMSZyb2xlPTEmc2lnPTQwZjZkZDIyZDdlNjIxOTM1ZGFkMTc0OWNjNzA2MTFjY2JjZjBlNDBhY2I2NGVmNGYyNjA4MGI1OGJiZTY4M2UmdXVpZD1iYzA5MmU2MGE2MGQxMWYxYWM1MjQ5MmIwNGVhOGUyMA
